
/*-----Common-----*/
body{
  background-image: url(https://st2.depositphotos.com/4966263/10721/v/950/depositphotos_107219356-stock-illustration-pattern-with-social-media-icons.jpg);
  background-position: center;
  background-size: cover;
  
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  
}
