
/*-----Common-----*/
body{
  background-image: url(https://st2.depositphotos.com/4966263/10721/v/950/depositphotos_107219356-stock-illustration-pattern-with-social-media-icons.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

#bg {
  /* background-color: #083F46; */
  background-image: url(https://st2.depositphotos.com/4966263/10721/v/950/depositphotos_107219356-stock-illustration-pattern-with-social-media-icons.jpg);
  height: 700px;
  width: 100vw;
  position: relative;
}
#curved-corner-bottomleft,
#curved-corner-topright {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#right-top {
  top: 0;
  right: 0;
  position: absolute;
}

#left-bottom {
  bottom: 0;
  left: 0;
  position: absolute;
}

#curved-corner-bottomleft:before,
#curved-corner-topright:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}

#curved-corner-bottomleft:before {
  bottom: 0;
  left: 0;
  box-shadow: -200px 50px 0 0 cyan;
}

#curved-corner-topright:before {
  top: 0;
  right: 0;
  box-shadow: 200px -50px 0 0  ;
  /* background-image: url(https://st2.depositphotos.com/4966263/10721/v/950/depositphotos_107219356-stock-illustration-pattern-with-social-media-icons.jpg); */
}

.ellipse-1 {
  background-color: #083F46;
  border: 1px solid;
  border-color: black;
  border-radius: 997.32px/629.88px;
  height: 960px;
  position: absolute;
  margin-left: -95px;
  margin-top: -138.16px;
  transform: rotate(21.18deg);
  width: 1595px;
}

.body00{
  transform: rotate(-21.18deg);
}